 <!-- Get User's Preferances -->
    <div id="userPrefernces">
        <form>
            <!-- Location -->
            <label for="location">Location:</label><br>
            <input type="text" id="location" name="location"><br>
        
            <!-- Part-time or Full-time -->
            <label for="work_type">Work Type:</label><br>
            <select id="work_type" name="work_type">
                <option value="full-time">Full-time</option>
                <option value="part-time">Part-time</option>
            </select><br>
            <!-- Salary Range -->
            <label for="salary_range">Salary Range:</label><br>
            <select id="salary_range" name="salary_range">
                <option value="50000-70000">$50,000 - $70,000</option>
                <option value="70000-90000">$70,000 - $90,000</option>
                <option value="90000-110000">$90,000 - $110,000</option>
                <option value="110000+">$110,000+</option>
            </select><br>
            <!-- Work Remotely or In-Person -->
            <label for="work_remotely">Work Remotely:</label><br>
            <input type="checkbox" id="work_remotely" name="work_remotely"><br>

            <!-- Submit Button -->
            <input type="submit" value="Submit">
        </form>
    </div>