 <!-- Get User's Preferances -->
<div id="userPrefernces">
    <form id="job_form" >
        <!-- Location -->
        <label for="city_category">Enter Your City:</label><br>
        <input type="text" id="city_category" name="city_category"><br>
        <label for="state_category">Enter Your State:</label><br>
        <input type="text" id="state_category" name="state_category"><br>
        
        <!-- Part-time or Full-time -->
        <label for="job_type">Select Your Type</label><br>
        <select id="job_type" name="job_type">
            <option value="full-time">Full-time</option>
            <option value="part-time">Part-time</option>
        </select><br>
        
        <!-- Salary Range -->
        <label for="salary_range">Salary Range:</label><br>
        <select id="salary_range_from" name="salary_range_from">
        <option value="0">No Minimum</option>
        <option value="20000">$20,000</option>
        <option value="40000">$40,000</option>
        <option value="60000">$60,000</option>
        <option value="80000">$80,000</option>
        <option value="100000">$100,000</option>
        <option value="120000">$120,000</option>
        <option value="140000">$140,000</option>
        <option value="160000">$160,000</option>
        </select>

        <select id="salary_range_to" name="salary_range_to">
        <option value="9999999">No Maximum</option>
        <option value="70000">$70,000</option>
        <option value="90000">$90,000</option>
        <option value="110000">$110,000</option>
        <option value="130000">$130,000</option>
        <option value="150000">$150,000</option>
        <option value="170000">$170,000</option>
        <option value="190000">$190,000</option>
        <option value="210000">$210,000</option>
        </select><br>
        
        <!-- Work Remotely or In-Person -->
        {{!-- <label for="work_remotely" class="remote_label">Check to Work Remotely:</label>
        <input type="checkbox" id="work_remotely" name="work_remotely"><br> --}}
        
        <!-- Submit Button -->
        <input type="submit" value="Submit">
    </form>
</div>
<script src="./js/jobs.js"></script>